
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome Page</title>
  <!-- Add any meta tags, stylesheets, or other head elements here -->
</head>
<body>
  <div class="welcome-container">
    <div class="left-page-1">
      <img src="assets/CASAVENTURO.jpg" alt="CASAVENTURO">
    </div>
    <div class="right-page-2">
      <h1>Welcome to CasaVenturo</h1>
      <p class="role-text">Please Specify Your Role</p>
      <button class="green-button" (click)="gotoUserLogin()">User</button>
      <button class="green-button" (click)="gotoVendorLogin()">Vendor</button>
      <button class="green-button">Admin</button>
    </div>
  </div>
  </body>
</html>  