<footer class="text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>About Us</h5>
        <p>
          At CasaVenturo, we are dedicated to simplifying your life by
          connecting you with skilled professionals who can cater to your
          household needs.
        </p>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/login">Services</a></li>
          <li><a routerLink="/about-us">Portfolio</a></li>
          <li><a routerLink="/contact-us">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Connect With Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/"
              ><i class="fab fa-facebook"></i> Facebook</a
            >
          </li>
          <li>
            <a href="https://twitter.com/"
              ><i class="fab fa-twitter"></i> Twitter</a
            >
          </li>
          <li>
            <a href="https://in.linkedin.com/"
              ><i class="fab fa-linkedin"></i> LinkedIn</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/"
              ><i class="fab fa-instagram"></i> Instagram</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact Info</h5>
        <p>Email: CasaVenturo@happyhomes.com</p>
        <p>Phone: +91 1234567890</p>
      </div>
    </div>
  </div>
</footer>
