<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img
              class=""
              [src]="serviceTypeImages[serviceType] || 'http://via.placeholder.com/300x180'"
              alt="Card image cap"
              style="width: 100%;"
            />
          </div>
          <div class="card-body">
            <h3 class="card-title">
              Booking for - <span id="date">{{ bookingDate }}</span>
            </h3>
            <h4 class="card-title">
              Service Type - <span id="type">{{ serviceType }}</span>
            </h4>
            <h4 class="card-title">
              Price - <span id="price">&#8377;{{ price }}</span>
            </h4>
            <h5 class="card-title">
              Customer Name - <span id="name">{{ customerName }}</span>
            </h5>
            <p class="card-text">
              Location - <span id="description">{{ location }}</span>
            </p>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{lastUpdatedText}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
