<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <app-back-btn style="z-index: 10;"></app-back-btn>
      <div class="left-window">
        <div class="shape"></div>
        <img src="../../../assets/images/signup-art.svg" alt="" srcset="" />
      </div>
      <div class="right-window">
        <div class="icon">
          <img src="../../../assets/images/avatar.svg" alt="" srcset="" />
        </div>
        <div class="title">REGISTER YOURSELF</div>
        <div class="form">
          <form [formGroup]="registerForm" (ngSubmit)="signup()">
            <div class="role">
              <div class="vendor">Vendor</div>
              <div class="user">User</div>
              <div class="admin">Admin</div>
            </div>
            <mat-slider min="1" max="3" step="1" value="2">
              <input matSliderThumb formControlName="role" />
            </mat-slider>
            <div class="grid">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="userName" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="passwordHash"
                />
              </mat-form-field>
            </div>
            <div class="check">
              <mat-checkbox (click)="valueSet()" class="example-margin" 
                >I hereby accept to all the Terms & Conditions mentioned
                <a routerLink="/policies">here</a></mat-checkbox
              >
            </div>
            <button type="submit" [disabled]="(!registerForm.valid && !isChecked)">
              Register
            </button>
            <div class="new-user" (click)="gotoLogin()">
              Existing User? Login Here
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
