<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <app-back-btn></app-back-btn>
        <div class="title">Forgot Password</div>
        <div class="form mail" *ngIf="showEmailSection">
            <form [formGroup]="email" (ngSubmit)="confirmMail()">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" required formControlName="email">
                </mat-form-field>
                <button type="submit">Get OTP</button>
            </form>
        </div>
        <div class="form otp" *ngIf="showOtpSection" >
            <div class="sub-title">If your email is correct you wil recieve the otp in it. </div>
            <form [formGroup]="getOtp" (ngSubmit)="confirmOtp()" id="different">
                <mat-form-field>
                    <mat-label>Enter the OTP sent to your registered mail</mat-label>
                    <input matInput type="email" required formControlName="otp">
                </mat-form-field>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="form pass" *ngIf="showPasswordSection">
            <form [formGroup]="changePass" (ngSubmit)="resetPassword()">
                <mat-form-field>
                    <mat-label>Enter Password</mat-label>
                    <input matInput type="email" required id="dummy">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="email" required formControlName="password">
                </mat-form-field>
                <button type="submit">Reset Password</button>
            </form>
        </div>
        <div class="back-to-login" (click)="goToLogin()">Back to Login</div>
    </div>
</body>
</html>
