body {
  background: rgb(52, 209, 152);
  background: radial-gradient(
    circle,
    rgba(52, 209, 152, 1) 0%,
    rgba(47, 209, 153, 1) 50%,
    rgba(40, 214, 151, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80vw;
  height: fit-content;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 0px 20px black;
  border-radius: 2rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.sub-title{
  text-align: start;
  font-weight: 550;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  width: 100%;
}

#different{
  width: 100%;
}

.form {
  width: 100%;
  max-width: 400px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  outline: none;
  border: none;
  background-color: #39cf9c;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #27b786;
}

.back-to-login {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: rgb(73, 73, 73);
  cursor: pointer;
}

.back-to-login:hover {
  cursor: pointer;
  text-decoration: underline;
}
