<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-back-btn style="z-index: 10;"></app-back-btn>
    <div class="about-section">
      <h1>CasaVenturo</h1>
      <p>
        Welcome to CasaVenturo, your trusted partner for home services. At
        CasaVenturo, we are dedicated to simplifying your life by connecting you
        with skilled professionals who can cater to your household needs.
      </p>
    </div>
    <h2 style="text-align: center"></h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="assets/images/team1.jpeg" alt="Jane" style="width: 100%" />
          <div class="container">
            <h2>Our Mission</h2>
            <p>Our mission is to make everyday life more convenient for you.</p>
            <p class="title">
              Whether you need home repairs, cleaning services, or skilled
              professionals for any task, CasaVenturo is your one-stop solution.
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="assets/images/team2.jpeg" alt="Jane" style="width: 100%" />
          <div class="container">
            <h2>Why Choose Us?</h2>
            <p>Experience excellence with CasaVenturo.</p>
            <p class="title">
              Our vetted professionals, user-centric approach, and unwavering
              commitment to your security ensure unmatched quality and
              convenience in every service we provide.
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="assets/images/team3.jpg" alt="Jane" style="width: 100%" />
          <div class="container">
            <h2>Our Story</h2>
            <p>
              Our journey began with a vision to simplify your life by providing
              access to trustworthy services.
            </p>
            <p class="title">
              CasaVenturo was founded by passionate individuals who saw the need
              for a seamless platform connecting users with service vendors.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
