<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to CasaVenturo</title>
  </head>
  <body>
    <app-homepage-header style="position: sticky; top: 0"></app-homepage-header>
    <section class="hero">
      <div class="container">
        <div class="hero-content">
          <h1>CasaVenturo</h1>
          <p>Discover a World of Services and Opportunities.</p>
          <a routerLink="login" class="get-started-button">Get Started</a>
        </div>
      </div>
    </section>
    <section class="features">
      <div class="container">
        <h2>Credibility Delivered.</h2>
        <div class="feature-cards">
          <div class="feature-card">
            <img src="assets/images/homeicon1.png" alt="Feature 1" />
            <h3>Professional Services</h3>
            <p>Explore a wide range of professional services.</p>
          </div>
          <div class="feature-card">
            <img src="assets/images/homeicon2.png" alt="Feature 2" />
            <h3>Experienced Experts</h3>
            <p>Choose from a pool of experienced freelancers.</p>
          </div>
          <div class="feature-card">
            <img src="assets/images/homeicon3.png" alt="Feature 3" />
            <h3>Efficient Collaboration</h3>
            <p>Collaborate seamlessly to complete your projects.</p>
          </div>
        </div>
      </div>
    </section>
    <br />

    <section class="cta-1">
      <div class="container">
        <h2>Our Services</h2>

        <div class="row1">
          <div class="column">
            <div class="card">
              <img src="assets/images/cleaning.jpeg" alt="Jane" style="width: 100%" />
              <div class="container-card">
                <h2>Home Cleaning</h2>
                <p class="title">
                  Revive your space with our meticulous home cleaning services
                  for a sparkling, tidy abode.
                </p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="assets/images/electrician.jpeg" alt="Jane" style="width: 100%" />
              <div class="container-card">
                <h2>Electrical</h2>
                <p class="title">
                  Electrical expertise at your service, ensuring a well-lit and
                  powered environment.
                </p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="assets/images/carpenter.jpeg" alt="Jane" style="width: 100%" />
              <div class="container-card">
                <h2>Carpentry</h2>
                <p class="title">
                  Crafting quality solutions, our carpenters bring your
                  woodworking dreams to life.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- ----- row1----- -->

        <div class="row2">
          <div class="column">
            <div class="card">
              <img src="assets/images/plumbing.jpeg" alt="Jane" style="width: 100%" />
              <div class="container-card">
                <h2>Plumbing</h2>
                <p class="title">
                  Solving plumbing puzzles, our experts keep your water flowing
                  smoothly.
                </p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="assets/images/gardening.jpeg" alt="Jane" style="width: 100%" />
              <div class="container-card">
                <h2>Gardening</h2>
                <p class="title">
                  Transform your outdoors into a green haven with our skilled
                  gardening team.
                </p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="assets/images/hairstylist.jpeg" alt="Jane" style="width: 100%" />
              <div class="container-card">
                <h2>Hair Styling</h2>
                <p class="title">
                  Elevate your look with our hairstyling pros, tailored to your
                  unique style.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="testimonials">
      <div class="container">
        <h2>What Our Clients Say</h2>
        <br /><br />
        <div class="testimonial-cards">
          <div class="testimonial-card">
            <p>
              "CasaVenturo is amazing! I found the perfect service provider for
              my project."
            </p>
            <span>- Pep Guardiola</span>
          </div>
          <div class="testimonial-card">
            <p>
              "The platform is user-friendly and efficient. Highly recommended!"
            </p>
            <span>- Krishtano Rolando</span>
          </div>
        </div>
      </div>
    </section>
    <section class="cta">
      <div class="container">
        <h2>Ready to Get Started?</h2>
        <p>
          Join CasaVenturo today and experience a new way to connect with
          service providers.
        </p>
        <a href="#" class="join-button">Join Now</a>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
</html>
