/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Apply box-sizing border-box to all elements */
* {
  box-sizing: border-box;
}

/* General styling */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header */
header {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Navigation */
.navigation {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  height:20vh;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 0;
}

.navigation ul li {
  flex-basis: 20%;
  margin: 15px 0;
}

.navigation ul li a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.navigation ul li a mat-icon {
  margin-right: 10px;
}

a.nav:last-child {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a.nav:last-child:hover {
  background-color: #c82333;
}
